body {
    backgroud: white;
}
   
header{
    background-image:url("imagens/fazenda.jpg");
    background-size:cover;
    background-position:center;
    height:400px;
    color:white;
    text-align:center;
    padding-top:100px;
}
